<h2>Title: {{ getTitle() }}</h2>
<ul>
  <li *ngFor="let course of courses">{{ course }}</li>
</ul>
<!-- Property binding -->
<!-- <img [src]="imageUrl"> -->
<!-- Attribute binding -->
<!-- <table><tr><td [attr.colspan]=2></td></tr></table> -->
<!-- Class binding -->
<!-- <button (click)="onButtonClick()" class="btn btn-sm btn-primary" [style.active]="isActive">Save</button> --> 
<!-- Style binding -->
<!-- <button (click)="onButtonClick()" class="btn btn-sm btn-primary" [style.backgroundColor]="isActive ? 'blue' : 'white'">Save</button> -->
<!-- Event binding -->
<button (click)="onButtonClick()" class="btn btn-sm btn-primary">{{ buttonText }}</button>